.description {
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: justify;
}

img.cover {
    width: 125px;
    height: 175px;
    margin-bottom: 25px;
}

.bookActions {
    list-style-type: none;
}

.bookActions li {
    display: inline-block;
}

.bookActions li a {
    text-decoration: none;
    padding-right: 20px;
}